.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.search-bar input {
  width: 60%;
  padding: 15px;
  border: none;
  border-radius: 25px;
  outline: none;
  font-size: 18px;
  background-color: #dcdcdc;
}

.search-button {
  background-color: #dcdcdc;
  border: none;
  border-radius: 50%;
  padding: 15px;
  margin-left: -50px; /* Overlap the search icon over the input */
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-button img {
  width: 24px;
  height: 24px;
}

.categories {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin-top: 30px;
}

.category {
  background-color: #bbb;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 18px;
  color: black;
  transition: background-color 0.3s;
}

.category:hover {
  background-color: #aaa;
}
