body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #132D46, #191E29);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
}

.logo_1 {
  width: 40vw; 
  max-width: 500px; 
  margin-bottom: 10px;
}

.start-button {
  background-color: #01C38D;
  color: #ffffff;
  font-size: 2vw;
  padding: 1.5vw 3vw; 
  border: none;
  border-radius: 10px; 
  cursor: pointer;
  text-transform: uppercase;
  margin-top: 10px;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: none; 
}

.start-button:hover {
  background-color: #01C38D;
  transform: scale(1.05);
  box-shadow: 0 0 30px #01C38D; 
}

.info-button {
  background-color: #696E79; 
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  top: 80px;
  left: 200px;
  transition: background-color 0.3s, transform 0.2s;
}

.info-button:hover {
  background-color: #555; 
  transform: scale(1.1); 
}

.info-button:active {
  background-color: #444; 
  transform: scale(0.95); 
}
