body {
  font-family: Arial, sans-serif;
  background-color: #0e1e2b;
  height: 100vh;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page6-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
}

.logo_3 {
  width: 70px;
  height: 70px;
}

.home-button {
  background: none;
  border: none;
  color: #fff;
  font-size: 16px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: transform 0.2s;
}

.home-button:hover {
  transform: scale(1.1);
}

.home-button:active {
  transform: scale(0.95);
}

.home-logo {
  width: 15px;
  height: 15px;
  margin-right: 8px;
}

.content {
  text-align: center;
  margin-bottom: 1vh;
}

.results-box {
  font-weight: 400;
  color: #01C38D;
  width: 250px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px 0;
}

.result-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.result-textarea {
  width: 500px;
  height: 350px;
  border-radius: 20px;
  border: 1px solid #ffffff; /* 선택한 경우 테두리 하얗게 */
  padding: 20px;
  font-size: 1.2em;
  background-color: #0e1e2b;
  color: #ffffff;
  overflow-y: auto; /* 스크롤 추가 */
}

.navigation-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.nav-button {
  background-color: #01C38D;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.2s;
}

.nav-button:hover {
  background-color: #019a6b;
}

.footer {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

@media (max-width: 768px) {
  .home-button {
    font-size: 14px;
  }

  .result-textarea {
    width: 90%;
    height: 250px;
  }
}

@media (max-width: 480px) {
  .home-button {
    font-size: 12px;
  }

  .result-textarea {
    width: 80%;
    height: 200px;
  }
}
