@keyframes fillColor {
  from {
    background-position: 0% 0%;
  }
  to {
    background-position: 100% 0%;
  }
}

body {
  font-family: Arial, sans-serif;
  background-color: #0e1e2b;
  height: 100vh;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.question {
  font-size: 1vw; /* vw 단위로 폰트 크기 설정 */
  font-weight: bold;
  text-align: center;
  margin-bottom: 1vh; /* 질문과 진행 상태 바 사이의 간격 조절 */
}

.progress {
  display: flex;
  justify-content: center;
  align-items: center; /* 세로 정렬 추가 */
  margin-top: 30px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 1.2em; 
}

.progress-step {
  width: 40px; /* 피그마에서 제시된 크기 */
  height: 40px; /* 피그마에서 제시된 크기 */
  border-radius: 50%;
  background-color: #696E79; /* 기본 비활성 색상 */
  margin: 0 35px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; /* 숫자 중앙 정렬을 위한 flexbox 설정 */
}

.progress-step.active {
  background-color: #01C38D;
  box-shadow: 0 0 10px rgba(1, 195, 141, 0.6);
}

.progress-step:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 50%;
  right: -75px; /* 원과 선 사이의 간격 조절 */
  width: 80px; /* 선의 길이 */
  height: 12px; /* 선의 두께 */
  background-color: #696E79; /* 기본 선 색상 */
  transform: translateY(-50%); /* 세로 중앙 정렬 */
}

.progress-step.active:not(:last-child)::after {
  background: linear-gradient(to right, #01C38D 0%, #01C38D 100%);
  background-size: 200% 100%;
  animation: fillColor 1s forwards;
  box-shadow: 0 0 10px rgba(1, 195, 141, 0.6);
}

.progress-step:not(.active)::after {
  background-color: #696E79; /* 비활성 단계의 선 색상 */
}

.progress-step:last-child::after {
  background-color: transparent; /* 마지막 단계의 선 색상 없음 */
}

.progress-step .step-number {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 16px; /* 숫자 크기 조정 */
  line-height: 40px; /* 숫자를 세로 중앙 정렬 */
  text-align: center;
  color: #FFFFFF; /* 기본 텍스트 색상 */
}

.progress-step:not(.active) .step-number {
  color: #8C8C8C; /* 비활성 상태의 텍스트 색상 */
}

.detail-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2열 그리드 설정 */
  gap: 30px;
  margin-bottom: 25px;
}

.detail-button {
  background-color: #696E79; 
  color: #fff;
  border: none; 
  border-radius: 20px; /* Increased border-radius */
  padding-left: 55px;
  padding-right: 55px;
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 1.4em;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;
  text-align: center;
}

.detail-button.selected {
  background-color: #01C38D;
}

.detail-button:hover {
  transform: scale(1.05);
  background-color: #01C38D;
  box-shadow: 0 0 10px rgba(1, 195, 141, 0.6);
}

.detail-button:active {
  transform: scale(0.95);
}

.navigation-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.nav-button {
  background-color: #696E79;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 15px 30px;
  font-size: 1.2em;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.nav-button.next-button {
  background-color: #01C38D;
}

.nav-button:hover {
  transform: scale(1.05);
}

.nav-button:active {
  transform: scale(0.95);
}

.footer {
  margin-top: auto;
  padding: 20px;
  background-color: #0e1e2b;
  text-align: center;
}
