.sub-part-buttons {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Adjusted for responsiveness */
  gap: 30px;
  margin-bottom: 25px;
}

.sub-part-button {
  background-color: #696E79;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 25px 55px;
  font-size: 1.4em;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;
  text-align: center;
}

.sub-part-button.selected {
  background-color: #01C38D;
}

.sub-part-button:hover {
  transform: scale(1.05);
  background-color: #01C38D;
  box-shadow: 0 0 10px rgba(1, 195, 141, 0.6);
}

.sub-part-button:active {
  transform: scale(0.95);
}

.footer {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
