body {
    font-family: Arial, sans-serif;
    background-color: #0e1e2b;
    height: 100vh;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }